endpoint_add_tcp "0.0.0.0:30125"
endpoint_add_udp "0.0.0.0:30125"


#endpoint_add_tcp "12.57.19.231:30120"

# minimum resources and config to get it working
set mysql_debug "None"

set es_enableCustomData 1

set onesync_enabled 1

sv_useDirectListing true

setr voice_enableRadioAnim 1

setr voice_useNativeAudio true

setr voice_useSendingRangeOnly true

setr voice_enableSubmix 1

svgui

#-----يرجاء عدم التعامل او تغير الاشياء الي تحت مرتبينه لكم ترتيب حلو وجميل------# 

#----------------------------في حال التلاعب راح يقفل سكربتات مهمه----------------------------

#ensure DiscordQueue # سكربت أولوية دخول السيرفر

ensure es_extended # أهم سكربت في تشغيل النظام + الأوامر
ensure mysql-async # 
ensure [Bebo]
ensure LuxBunker
ensure Bolide
ensure Jobs_Status
ensure Server_Status
ensure Jobs_office
ensure jsfour-idcard
ensure esx_adminjob
ensure esx_loadingscreen
ensure ford3
ensure ta013vq35
ensure rb28dett
ensure carsounds
ensure cars_s_sounds
ensure cummins5924v
ensure cvpiv8
ensure bmwn55
ensure aq02coyotef150
ensure aqls7raceswap
ensure porsche57v10
ensure cron # سكربت أساسي
# ------------ ملابس --------------
ensure lbs7rs7dod # حرس حدود
ensure eup-police # ملابس شرطة وامن طرق والخ عيال
ensure eup_policebnat # ملابس شرطة وامن طرق والخ بنات
ensure austin_props
ensure SA
ensure KSA
ensure milan_props55
ensure MOKCA_SSF_EUP
# --------------------------

ensure async # 2 سكربت أساسي 
ensure sreralasaf # سرير المسعف
ensure esx_addonaccount #سكربت أساسي 3
ensure tpm #الانتقالات
ensure esx_datastore #سكربت أساسي 4
ensure esx_timer # سكربت الي يأخر الوقت
ensure Icemallow-bodydrag #حمل لاعب
ensure esx_license # سكربت الرخص
ensure esx_visa # سكربت تأشيرة دخول المقاطعة 
ensure esx_service # سكربت مختص في الخزنة والى اخره
ensure wk_wars2x # سكربت رادار الشرطة F5
ensure esx_securitycam # سكربت أساسي 8
ensure skinchanger # سكربت قائمة الملابس المتعلقة بالريسبون 
ensure esx_skin # سكربت تابع لقائمة الملابس
ensure pressurewashermodels # خرطوم الغسيل
ensure pressurewasher # سكربت غسيل السيارات ب الخرطوم
ensure esx_check_shot_fire # سكربت فحص طلقةالنار
ensure esx_menu_default # F2 سكربت القوائم مثل 
ensure esx_menu_list # تابع لسكربت القوائم
ensure esx_menu_dialog  # تابع لسكربت القوائم
ensure el_bwh # سكربت الباند لدى الرقابة و التفتيش
ensure esx_sound
ensure esx_xsound
ensure src_htmlPhone
restart chat
start max99
ensure mechanical_car ##
ensure camry2005

ensure opod-artheist
ensure ArtGalleryMLOv2
ensure mhacking
ensure DiscordWhitelist

###

ensure screenshot-basic
### الجوال ###

start [phone]


### جميع السيارات ###
ensure [cars]
ensure [Cars2]
### ###

### ###


ensure JD_logs #كود الاعب اذا قتل شخص
ensure EasyAdmin # سكربت ايزي ادمن لاتحذفه مهم في بعض الخيارات الي موجوده في ال F6 للرقابة
ensure countyprison #ماب السجن
ensure menaa #ماب الميناء
ensure esx_sync #سكربت وقت المزامنة
ensure chat # سكربت الشات / الجريدة
ensure ESX_SystemXpLevel # سكربت اللفل / الخبرة
ensure esx_basicneeds # السكربت الأساسي لتشغيل لتعبئة الأكل والشرب
ensure esx_status # سكربت أساسي للأكل والشرب
ensure LegacyFuel # سكربت تعبئة البنزين
ensure esx_loadingscreen # سكربت اللودينق سكرين
ensure esx_hud # الهود
ensure esx_cruisecontrol # سكربت مثبت السرعة للمركبات / طائرات / قوارب
ensure esx_addoninventory # F2 سكربت الحقيبة / الشنطة قائمة الـ 
ensure esx_billing # سكربت المخالفات الواردة
ensure esx_society # سكربت قائمة إجرئات مدير القطاع
ensure esx_identity # سكربت الهوية
ensure esx_business
ensure esx_idcard # سكربت عرض الهوية  
ensure esx_drugs # سكربت الممنوعات : حشيش أفيون الى أخ
ensure esx_moneywash # سكربت غسيل الأموال
ensure esx_ruskiarrest # سكربت الكلبشة للوظائف المعتمدة
ensure esx_dmvschool # سكربت إختبار رخصة القيادة
ensure esx_barbershop # سكربت الحلاق
ensure interactSound # سكربت الأصوات الي داخل 707 ستور
ensure pNotify # سكربت الأصوات الي داخل 707 ستور 
ensure progressBars
ensure t-notify
ensure 918spyeng
ensure stretcher-master #سكربت وضع المسقط ع السرير
ensure esx_nstance # خاص ب البيوت الجاهزه
ensure esx_speedcamera # سكربت رادار
ensure esx_accessories #F5 سكربت قائمة الـ 
ensure esx_clotheshop # سكربت محل الملابس 
ensure esx_joblisting # سكربت مركز التوظيف 
ensure esx_optionalneeds # سكربت شرب الخمر
ensure esx_jail # سكربت السجن 
ensure esx_races # سكربت السباقات
ensure removecloth #  فصخ اللبس من القائمة y
ensure esx_lscustom # تزويد الميكانيكي
ensure esx_animations # الحركات
ensure esx_animations2 # الصفع / والبعض من الحركات
ensure esx_criminalrecords # تابع امن المنشات
ensure esx_outlawalert # سكربت بلاغات إطلاق النار لرقابة
#ensure esx_outlawalert_police # سكربت بلاغات إطلاق النار للأمن
ensure seatbelt # سكربت حزام الأمان
ensure esx_locksystem # قفل / فتح المركبة
ensure esx_doorlock # سكربت قفل / فتح الأبواب
#ensure esx-checkdeathcause # مغلق # سكربت فحص مكان الإصابة 
ensure esx_detector # سكربت جهاز تبليغ الجهات الأمنية أنك تحمل سلاح
ensure esx_bike-rental # سكربت تأجير الدراجات
ensure esx_trunk # حقيبة المركبات
ensure PvP # pvp
ensure esx_vangelico_robbery # سكربت سرقة المجوهرات
ensure pogressBar # pog
ensure EngineToggle # سكربت تم تشغيل / إيقاف المحرك
ensure NativeUI # Na
ensure esx_shops2 # سكربت المتاجر
ensure esx_blipsjobs # سكربت البلبزات
ensure npc_control #np
ensure mythic_notify # my
ensure mythic_progbar # my2
ensure mythic_progressbar # my
ensure esx_instance # تابع للبيوت
ensure esx_property # سكربت البيوت
ensure esx_headbag # سكربت الخيشة 
ensure dletbot
ensure esx_disconnect # سكربت إذا فصل يجي علامة
ensure esx_ammofill # تعبئة الطلقات
ensure esx_atm # سكربت الصرافات
ensure bob74_ipl
ensure uptime
ensure esx_shalied_police # سكربت الدرع حق الشرطة
ensure pma-voice # نظام الصوت
ensure esx-radio # نظام الراديو
ensure esx_radiolist # راديو ليست
ensure sql_k9_ped # k9 dog
### السرقات ###
ensure [Robbery]
### المابات ###

start [Map]

ensure esx_flatbed
ensure lightbars
ensure esx_car3
ensure esx_weaponColor # سكربت تغيير لون الأسلحة
ensure paleto247store # بقاله بليتو
ensure paleto_liquor # بقاله بليتو
ensure shophawy #بقالة محطة الشهيد
ensure shop22 #بقالة محطة الشهيد
ensure cm24 # ماب مشتركة بين لوس و ساندي
ensure policemap # ماب الشرطة


ensure gmc89
ensure gmcklo25

### الربع شللللل ###

ensure rb3_2017

### برابس ###

### سيارات الفئة السعودية ###

ensure cars_s

### هليكات تشارجر ###

ensure hellcat15w

### برابس ###

ensure e63amg

### روؤس مقطورات ###

ensure W900
ensure vnl780
ensure actros

### قلص صغير ###

ensure als_small


### سيارات الوظائف المعتمده ####

### الهلال الأحمر ###

ensure hlal

### ملابس الرقابة ###

ensure admin_clothes

#-----يرجاء عدم التعامل او تغير الاشياء الي تحت مرتبينه لكم ترتيب حلو وجميل------# 

#----------------------------في حال التلاعب راح يقفل سكربتات مهمه----------------------------

ensure esx_jobs # الوظائف العامة
ensure esx_seaportjob # وظيفة أمن الموانئ
ensure esx_AdvancedFishing # وظيفة الأسماك
ensure esx_policejob # وظيفة إدارة الشرطة
ensure esx_agentjob # وظيفة حرس الحدود
ensure esx_ambulancejob # وظيفة الدفاع المدني
ensure esx_mechanicjob # وظيفة الميكانيكي
ensure esx_towing # سكربت تابع للميكانيكي
ensure esx_taxijob # وظيفة التاكسي

ensure esx_misc
ensure esx_misc2
ensure esx_misc3
ensure esx_misc4

ensure esx_sellvehicles # سكربت معرض المركبات المستعملة 
ensure esx_selltrucks # سكربت معرض الشاحنات المستعملة 


ensure discordroles # سكربت ربط الرولات باللعبة
ensure discord_perms # سكربت عشان يضبط الرولات باللعبة
ensure ensure Badger_Discord_API # سكربت الوايت ليست 2
ensure ensure esx_discord_bot # لوقات اللعبة
ensure Guardian # سكربت متعلق بالتأشيرة
ensure JD_logs # لوقات
              #---- [ سـكـربـتـات أسـاسـيـة ]----#


#
        #---- [ vMenu أوامر مـتـعـلـقة بالـ  ]----#

add_principal group.admin group.user
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow

#
         #---- [ FiveM أوامـر مـتعـلقـة بالـ  ]----#

setr ea_LanguageName "en"
setr ea_defaultKey "F4"

#exec resources/vMenu/config/permissions.cfg
#add_ace group.admin "vMenu.Everything" allow
#setr vmenu_bans_database_filepath "resources/vMenu/"
#ensure vMenu

ensure zb_earth

# This allows players to use scripthook-based plugins such as the legacy Lambda Menu.
# Set this to 1 to allow scripthook. Do note that this does _not_ guarantee players won't be able to use external plugins.
sv_scriptHookAllowed 0

# Uncomment this and set a password to enable RCON. Make sure to change the password - it should look like rcon_password "YOURPASSWORD"
#rcon_password "abdulrhman_ajnbd62tygasnnm82komvn29maw203mbb2ad"

# A comma-separated list of tags for your server.
# For example:
# - sets tags "drifting, cars, racing"
# Or:
# - sets tags "roleplay, military, tanks"
#sets tags "esx, police, ambulance, jobs, roleplay, rp, arab"
sets tags "esx"


# A valid locale identifier for your server's primary language.
# For example "en-US", "fr-CA", "nl-NL", "de-DE", "en-GB", "pt-BR"
sets locale "ar-OM"
# please DO replace root-AQ on the line ABOVE with a real language! :)

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
sets "Owner" "ABO BASSAM"
sets "ديسكورد" "https://discord.gg/WTtjKayq"
# ~~ sets "ديسكورد" "https://discord.gg/M101"
sets "البرمجة " "k9u9#0000"


sets banner_detail "https://i.top4top.io/p_3016naer91.png"
sets banner_connecting "https://i.top4top.io/p_3016naer91.png"

# Set your server's hostname
sv_hostname  "^0101 City RolePlay ^4★ ★ ★ ^9رول بلاي مدينة 101 للحياة الواقعية"
# Set your server's Project Name
sets sv_projectName "مدينة 101"

# Set your server's Project Description
sets sv_projectDesc " نظام ESX  | نقل خبر 50% "

# Nested configs!
#exec server_internal.cfg

# Loading a server icon (96x96 PNG file)
load_server_icon logo.png

# convars which can be used in scripts
set temp_convar "hey world!"

# Remove the `#` from the below line if you do not want your server to be listed in the server browser.
# Do not edit it if you *do* want your server listed.
#sv_master1 ""

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit

set ea_moderationNotification "true"
set ea_detailNotification "true"

# enable OneSync
set onesync on


# Server player slot limit (see https://fivem.net/server-hosting for limits)
sv_maxclients 48

# Steam Web API key, if you want to use Steam authentication (https://steamcommunity.com/dev/apikey)
# -> replace "" with the key


# License key for your server (https://keymaster.fivem.net)
#cfxk_1QeyAQg7LaOn1r7eMKV4a_9Enms



exec easyadmin_permissions.cfg

add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow
add_ace CHADMIN chocohaxadministrator allow
add_ace CHMOD chocohaxmoderator allow
add_ace group.admin command allow
add_ace group.admin command.quit deny
add_ace group.admin easyadmin allow
add_ace group.admin Editor allowing
add_principal group.admin group.user
add_principal identifier. CHADMIN
add_principal identifier.license:2582a856ac93a254f102101f94d2412e54d39f88 group.admin
add_principal identifier.steam:11000015b2602c9 group.admin



#
                   #---- [🛑 فــئــة 1 يمنع الإقتراب 🛑 ]----#

ensure mapmanager
ensure spawnmanager
ensure sessionmanager
ensure hardcap
ensure rconlog
ensure baseevents

set onesync_enableInfinity 1
# ـــــــــــــــــــــــــــــــــــــــــــــــــــــ⭐⭐ رول بــلاي مــقــاطــعــة اريزونا ⭐⭐ـــــــــــــــــــــــــــــــــــــــــــــــــــــــ#
set mysql_connection_string 'mysql://root:password@localhost/database?charset=utf8mb4'
set steam_webApiKey 'CHANGEME'
sv_licenseKey 'CHANGEME'
